{{define "main"}}

<div class="mb-16 dark:bg-zinc-800 p-5 rounded-xl">
  <h2 class="text-black dark:text-white font-bold text-3xl text-center my-12">
    LATEST FROM THE BLOG
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 p-6">
    <div class="col-span-2 lg:px-12 md:px-10 px-0">
      <div class="flex flex-col-reverse divide-y divide-y-reverse">
        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "blog")
        }}
        <!---->
        {{ range $paginator.Pages.ByDate }}
        <div>
          <a
            href="{{.Permalink}}"
            class="shrink dark:text-zinc-200 hover:text-blue-400 hover:underline transaction-speed"
          >
            <h3 class="text-lg md:text-xl lg:text-2xl font-bold">
              <br />
              {{.Title}}
            </h3>
            {{ $content := .Content }}
            <!---->
            {{ $words := split $content " " }}
            <!---->
            {{ $excerpt := "" }}
            <!---->
            {{ range $index, $word := $words }}
            <!---->
            {{ if lt $index 40 }}
            <!---->
            {{ $excerpt = printf "%s %s" $excerpt $word }}
            <!---->
            {{ end }}
            <!---->
            {{ end }}
            <p class="pb-3 mt-5">{{ $excerpt | safeHTML }}...</p>
            <br />
          </a>
        </div>
        {{end}}
      </div>
      <ul class="flex justify-center gap-3">
        <!-- Previous page. -->
        {{ if $paginator.HasPrev }}
        <li
          class="bg-blue-400 text-white w-6 h-6 {{ if eq . $paginator }} bg-blue-600 font-bold {{ end }} p-4  hover:bg-blue-600 flex items-center transaction justify-center"
        >
          <a
            href="{{ $paginator.Prev.URL }}"
            class="pagination__link pagination__link--previous"
          >
            «
          </a>
        </li>
        {{ end }}

        <!-- Page numbers. -->
        {{ range $paginator.Pagers }}
        <li
          class="bg-blue-400 text-white w-6 h-6 {{ if eq . $paginator }} bg-blue-600 font-bold {{ end }} p-4  hover:bg-blue-600 flex items-center justify-center transaction"
        >
          <a href="{{ .URL }}"> {{ .PageNumber }} </a>
        </li>
        {{ end }}

        <!-- Next page. -->
        {{ if $paginator.HasNext }}
        <li
          class="bg-blue-400 text-white w-6 h-6 {{ if eq . $paginator }} bg-blue-600 font-bold {{ end }} p-4 hover:bg-blue-600  flex items-center justify-center transaction"
        >
          <a href="{{ $paginator.Next.URL }}"> » </a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="col-span-1 px-6">
      <h4
        class="text-zinc-600 dark:text-zinc-100 font-bold text-xl lg:block md:block hidden"
      >
        Book a Demo
      </h4>
      <iframe
        src="https://BookingMitr.com/docucollab/discoverycall"
        frameborder="0"
        height="700px"
        width="100%"
        class="mt-3 lg:block md:block hidden"
      ></iframe>

      <!--Features post-->
      <h4 class="text-zinc-600 dark:text-zinc-100 font-bold text-xl mt-12">
        Recent Posts
      </h4>

      <hr class="border-zinc-600 my-2" />
      <ul class="lg:block md:block hidden">
        <li>
          {{ $posts := .Site.GetPage "section" "blog" }}
          <!---->
          {{ range first 5 $posts.Pages }}
          <a
            href="{{.Permalink}}"
            class="hover:underline dark:text-zinc-200 text-zinc-600"
          >
            <h3 class="text-md dark:text-zinc-200 text-zinc-600 font-bold mt-4">
              {{.Title}}
            </h3>
            <div class="text-zinc-600 dark:text-zinc-100 py-3">
              {{ $content := .Content }}
              <!---->
              {{ $words := split $content " " }}
              <!---->
              {{ $excerpt := "" }}
              <!---->
              {{ range $index, $word := $words }}
              <!---->
              {{ if lt $index 10 }}
              <!---->
              {{ $excerpt = printf "%s %s" $excerpt $word }}
              <!---->
              {{ end }}
              <!---->
              {{ end }}
              <!---->
              {{ $excerpt | safeHTML }}...
            </div>
            <hr class="border-zinc-700 w-2/3 mt-4 py-3" />
          </a>
          {{end}}
        </li>
      </ul>

      <ul class="lg:hidden md:hidden block">
        <li>
          {{ $posts := .Site.GetPage "section" "blog" }}
          <!---->
          {{ range first 3 $posts.Pages }}
          <a
            href="{{.Permalink}}"
            class="hover:underline dark:text-zinc-200 text-zinc-600"
          >
            <h3 class="text-md dark:text-zinc-200 text-zinc-600 font-bold mt-4">
              {{.Title}}
            </h3>
            <div class="text-zinc-600 dark:text-zinc-100 py-3">
              {{ $content := .Content }}
              <!---->
              {{ $words := split $content " " }}
              <!---->
              {{ $excerpt := "" }}
              <!---->
              {{ range $index, $word := $words }}
              <!---->
              {{ if lt $index 10 }}
              <!---->
              {{ $excerpt = printf "%s %s" $excerpt $word }}
              <!---->
              {{ end }}
              <!---->
              {{ end }}
              <!---->
              {{ $excerpt | safeHTML }}...
            </div>
            <hr class="border-zinc-700 w-2/3 mt-4 py-3" />
          </a>
          {{end}}
        </li>
      </ul>
    </div>
  </div>
</div>
{{end}}
